In [98]:
import numpy as np 
import pandas as pd
import ast
import os

In [99]:

path="./tmdb_5000_"
movies = pd.read_csv(path+'movies.csv')
credits = pd.read_csv(path+'credits.csv')

movies.sample(7)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4350,1000000,"[{""id"": 99, ""name"": ""Documentary""}]",http://www.climatecrisis.net/,1781,"[{""id"": 2210, ""name"": ""climate change""}, {""id""...",en,An Inconvenient Truth,A documentary on Al Gore's campaign to make th...,14.139004,"[{""name"": ""Lawrence Bender Productions"", ""id"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-01-24,46243000,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,By far the most terrifying film you will ever ...,An Inconvenient Truth,6.7,251
298,100000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.thewolfofwallstreet.com/,106646,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 572...",en,The Wolf of Wall Street,A New York stockbroker refuses to cooperate in...,95.007934,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-12-25,392000694,180.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,EARN. SPEND. PARTY.,The Wolf of Wall Street,7.9,6571
3524,5600000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",http://www.rec2themovie.com/,10664,"[{""id"": 3684, ""name"": ""religion and supernatur...",es,[REC]²,"The action continues from [REC], with the medi...",22.341462,"[{""name"": ""Filmax"", ""id"": 3631}]","[{""iso_3166_1"": ""ES"", ""name"": ""Spain""}]",2009-09-15,18469680,85.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,Fear Revisited,[REC]²,6.4,489
1881,25000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",NaN,278,"[{""id"": 378, ""name"": ""prison""}, {""id"": 417, ""n...",en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,136.747729,"[{""name"": ""Castle Rock Entertainment"", ""id"": 97}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-23,28341469,142.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,8.5,8205
2638,92620000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...",NaN,19,"[{""id"": 312, ""name"": ""man vs machine""}, {""id"":...",de,Metropolis,In a futuristic city sharply divided between t...,32.351527,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}]",1927-01-10,650422,153.0,"[{""iso_639_1"": ""xx"", ""name"": ""No Language""}]",Released,There can be no understanding between the hand...,Metropolis,8.0,657
4143,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,20406,[],en,Rockaway,Trane is a decorated war hero just shipped hom...,0.361554,"[{""name"": ""Rockaway the Movie"", ""id"": 3767}, {...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-07-07,0,76.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Rockaway,5.8,2
817,55000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,8273,"[{""id"": 772, ""name"": ""handcuffs""}, {""id"": 1156...",en,American Wedding,"With high school a distant memory, Jim and Mic...",36.194802,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-08-01,231449203,103.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Forever hold your piece.,American Wedding,6.0,1129

In [100]:
credits.sample(7)

,movie_id,title,cast,crew
242,166424,Fantastic Four,"[{""cast_id"": 169, ""character"": ""Reed Richards ...","[{""credit_id"": ""566e93a9925141664f00eb4c"", ""de..."
904,2898,As Good as It Gets,"[{""cast_id"": 1, ""character"": ""Melvin Udall"", ""...","[{""credit_id"": ""52fe4373c3a36847f8055113"", ""de..."
3859,241766,Lords of London,"[{""cast_id"": 10, ""character"": ""Tony Lord"", ""cr...","[{""credit_id"": ""52fe4ebdc3a36847f82a5329"", ""de..."
411,22538,Scott Pilgrim vs. the World,"[{""cast_id"": 1, ""character"": ""Scott Pilgrim"", ...","[{""credit_id"": ""52fe4445c3a368484e0198d7"", ""de..."
1142,280391,Why I Did (Not) Eat My Father,"[{""cast_id"": 0, ""character"": ""Edouard (voice)""...","[{""credit_id"": ""53b70add0e0a2676c4005f20"", ""de..."
2932,13937,Raising Cain,"[{""cast_id"": 9, ""character"": ""Carter / Cain / ...","[{""credit_id"": ""52fe45b69251416c7505fe93"", ""de..."
561,1997,Two Brothers,"[{""cast_id"": 11, ""character"": ""Na\u00ef-Rea"", ...","[{""credit_id"": ""52fe432ac3a36847f803f4c5"", ""de..."

In [101]:
print(movies.shape)
print(credits.shape)

(4803, 20)
(4803, 4)

In [102]:
movies = movies.merge(credits,on='title')
movies.sample(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
882,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://luckyyoumovie.warnerbros.com/,1950,"[{""id"": 383, ""name"": ""poker""}, {""id"": 6075, ""n...",en,Lucky You,A professional poker player whose astounding l...,6.162872,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...",...,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Change your game. Change your life.,Lucky You,5.4,81,1950,"[{""cast_id"": 4, ""character"": ""Huck Cheever"", ""...","[{""credit_id"": ""52fe4325c3a36847f803dd71"", ""de..."
1336,37000000,"[{""id"": 18, ""name"": ""Drama""}]",http://www.magnoliamovie.com/,334,"[{""id"": 455, ""name"": ""farewell""}, {""id"": 802, ...",en,Magnolia,An epic mosaic of many interrelated characters...,30.993736,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,188.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Things fall down. People look up. And when it ...,Magnolia,7.5,825,334,"[{""cast_id"": 3, ""character"": ""Linda Partridge""...","[{""credit_id"": ""52fe4239c3a36847f800d6cb"", ""de..."

In [103]:
movies.shape

(4809, 23)

In [104]:
#specify relevant columns
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.sample(2)

,movie_id,title,overview,genres,keywords,cast,crew
536,1439,Anna and the King,The story of the romance between the King of S...,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...","[{""id"": 393, ""name"": ""civil war""}, {""id"": 494,...","[{""cast_id"": 1, ""character"": ""Anna Leonowens"",...","[{""credit_id"": ""52fe42f7c3a36847f80305ad"", ""de..."
2353,28665,Fame,"An updated version of the 1980 musical, which ...","[{""id"": 10402, ""name"": ""Music""}, {""id"": 35, ""n...","[{""id"": 4344, ""name"": ""musical""}, {""id"": 17943...","[{""cast_id"": 4, ""character"": ""Jenny Garrison"",...","[{""credit_id"": ""55bf3fbd9251413e5b006654"", ""de..."

In [105]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [106]:
movies.dropna(inplace=True)

In [107]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4806 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   title     4806 non-null   object
 2   overview  4806 non-null   object
 3   genres    4806 non-null   object
 4   keywords  4806 non-null   object
 5   cast      4806 non-null   object
 6   crew      4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.4+ KB

In [108]:
movies['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4804    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4805    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4806    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4807                                                   []
4808                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4806, dtype: object

In [109]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [110]:
movies['keywords']

0       [{"id": 1463, "name": "culture clash"}, {"id":...
1       [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2       [{"id": 470, "name": "spy"}, {"id": 818, "name...
3       [{"id": 849, "name": "dc comics"}, {"id": 853,...
4       [{"id": 818, "name": "based on novel"}, {"id":...
                              ...
4804    [{"id": 5616, "name": "united states\u2013mexi...
4805                                                   []
4806    [{"id": 248, "name": "date"}, {"id": 699, "nam...
4807                                                   []
4808    [{"id": 1523, "name": "obsession"}, {"id": 224...
Name: keywords, Length: 4806, dtype: object

In [111]:
#converts keywords object into a dictionaryu
ast.literal_eval(movies['keywords'][0])

[{'id': 1463, 'name': 'culture clash'},
 {'id': 2964, 'name': 'future'},
 {'id': 3386, 'name': 'space war'},
 {'id': 3388, 'name': 'space colony'},
 {'id': 3679, 'name': 'society'},
 {'id': 3801, 'name': 'space travel'},
 {'id': 9685, 'name': 'futuristic'},
 {'id': 9840, 'name': 'romance'},
 {'id': 9882, 'name': 'space'},
 {'id': 9951, 'name': 'alien'},
 {'id': 10148, 'name': 'tribe'},
 {'id': 10158, 'name': 'alien planet'},
 {'id': 10987, 'name': 'cgi'},
 {'id': 11399, 'name': 'marine'},
 {'id': 13065, 'name': 'soldier'},
 {'id': 14643, 'name': 'battle'},
 {'id': 14720, 'name': 'love affair'},
 {'id': 165431, 'name': 'anti war'},
 {'id': 193554, 'name': 'power relations'},
 {'id': 206690, 'name': 'mind and soul'},
 {'id': 209714, 'name': '3d'}]

In [112]:
def convert(string):
    lst = []
    for i in ast.literal_eval(string):
        #print(i)
        #extracts value of 'name' from dataset column
        lst.append(i['name']) 
    return lst

In [113]:
print(convert(movies['keywords'][0]))

['culture clash', 'future', 'space war', 'space colony', 'society', 'space travel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alien planet', 'cgi', 'marine', 'soldier', 'battle', 'love affair', 'anti war', 'power relations', 'mind and soul', '3d']

In [114]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [115]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [116]:
#extract names of actors from cast column
def convert_cast(string):
    lst = []
    counter = 0
    for i in ast.literal_eval(string):
        if counter < 5:
            lst.append(i['name'])
        counter+=1
    return lst

In [117]:
movies['cast'] = movies['cast'].apply(convert_cast)

In [119]:
movies['cast'][5]

['Tobey Maguire',
 'Kirsten Dunst',
 'James Franco',
 'Thomas Haden Church',
 'Topher Grace']

In [120]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [121]:
def convert_crew(string):
    lst = []
    for i in ast.literal_eval(string):
        if i['job'] == 'Director' or i['job']=='Sound Designer':
            lst.append(i['name'])
            break
    return lst

In [122]:
movies['crew'] = movies['crew'].apply(convert_crew)

In [123]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[Christopher Boyes]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[Edward Burns, Kerry Bishé, Marsha Dietlein, C...",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",[Scott Smith]
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan...",[Daniel Hsia]
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[obsession, camcorder, crush, dream girl]","[Drew Barrymore, Brian Herzlinger, Corey Feldm...",[Brian Herzlinger]