In [139]:
import numpy as np 
import pandas as pd
import ast
import os

In [140]:

path="./tmdb_5000_"
movies = pd.read_csv(path+'movies.csv')
credits = pd.read_csv(path+'credits.csv')

movies.sample(7)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
1522,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,32274,[],en,Cradle Will Rock,A true story of politics and art in the 1930s ...,4.901553,"[{""name"": ""Touchstone Pictures"", ""id"": 9195}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-12-10,0,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Cradle Will Rock,7.2,18
791,58000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 27, ""...",http://www.goosebumps-movie.com/,257445,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,Goosebumps,A teenager teams up with the daughter of young...,45.351617,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",2015-08-05,158162788,103.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The stories are alive.,Goosebumps,6.2,995
1368,35000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...",http://www.identitythiefmovie.com,109431,[],en,Identity Thief,When a mild-mannered businessman learns his id...,34.005726,"[{""name"": ""Stuber Productions"", ""id"": 4403}, {...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-02-07,173965010,111.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,She's having the time of his life,Identity Thief,5.6,1645
2388,18000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,332411,"[{""id"": 9748, ""name"": ""revenge""}, {""id"": 9826,...",en,I Am Wrath,A man is out for justice after a group of corr...,10.144222,"[{""name"": ""Patriot Pictures"", ""id"": 2373}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-04-14,0,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,I lay my vengeance upon them.,I Am Wrath,4.5,179
3026,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.americangirl.com/movie/,8359,"[{""id"": 8057, ""name"": ""cincinnati""}, {""id"": 18...",en,Kit Kittredge: An American Girl,The Great Depression hits home for nine year o...,6.271410,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2008-07-02,0,101.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Kit Kittredge, a resourceful young girl, helps...",Kit Kittredge: An American Girl,6.4,34
1276,40000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.thousandwordsmovie.com/,72358,"[{""id"": 9468, ""name"": ""liar""}, {""id"": 11204, ""...",en,A Thousand Words,"Jack McCall is a fast-talking literary agent, ...",13.119133,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,22044277,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,He only has 1000 words left to discover what m...,A Thousand Words,6.0,373
525,75000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 28, ""...",NaN,10555,"[{""id"": 1357, ""name"": ""fish""}, {""id"": 1701, ""n...",en,Shark Tale,Oscar is a small fish whose big aspirations of...,47.094369,"[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-09-20,367275019,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The story of what happens when one little fish...,Shark Tale,5.8,1557

In [141]:
credits.sample(7)

,movie_id,title,cast,crew
978,421,The Life Aquatic with Steve Zissou,"[{""cast_id"": 1, ""character"": ""Steve Zissou"", ""...","[{""credit_id"": ""52fe4241c3a36847f8010079"", ""de..."
3061,404,The Straight Story,"[{""cast_id"": 4, ""character"": ""Alvin Straight"",...","[{""credit_id"": ""52fe423fc3a36847f800f709"", ""de..."
2210,4953,Be Kind Rewind,"[{""cast_id"": 12, ""character"": ""Jerry"", ""credit...","[{""credit_id"": ""52fe43e7c3a36847f80773cf"", ""de..."
1914,11954,Lifeforce,"[{""cast_id"": 1, ""character"": ""Col. Tom Carlsen...","[{""credit_id"": ""52fe44a99251416c7503c8dd"", ""de..."
917,224141,Into the Woods,"[{""cast_id"": 11, ""character"": ""Witch"", ""credit...","[{""credit_id"": ""57ebe97e92514118530005c1"", ""de..."
2281,11247,A Cinderella Story,"[{""cast_id"": 1, ""character"": ""Sam Montgomery"",...","[{""credit_id"": ""52fe441a9251416c75028d57"", ""de..."
1876,11932,Bride of Chucky,"[{""cast_id"": 15, ""character"": ""Chucky"", ""credi...","[{""credit_id"": ""52fe44a39251416c7503bd13"", ""de..."

In [142]:
print(movies.shape)
print(credits.shape)

(4803, 20)
(4803, 4)

In [143]:
movies = movies.merge(credits,on='title')
movies.sample(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
2124,20000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 18, ""n...",NaN,9963,"[{""id"": 563, ""name"": ""deja vu""}, {""id"": 3737, ...",en,Premonition,A depressed housewife who learns her husband w...,22.049787,"[{""name"": ""TriStar Pictures"", ""id"": 559}, {""na...",...,96.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Reality is only a nightmare away,Premonition,5.8,381,9963,"[{""cast_id"": 22, ""character"": ""Linda Hanson"", ...","[{""credit_id"": ""52fe4551c3a36847f80c79bb"", ""de..."
97,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,315011,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,シン・ゴジラ,From the mind behind Evangelion comes a hit la...,9.476999,"[{""name"": ""Cine Bazar"", ""id"": 5896}, {""name"": ...",...,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143,315011,"[{""cast_id"": 4, ""character"": ""Rando Yaguchi : ...","[{""credit_id"": ""5921d321c3a368799b05933f"", ""de..."

In [144]:
movies.shape

(4809, 23)

In [145]:
#specify relevant columns
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.sample(2)

,movie_id,title,overview,genres,keywords,cast,crew
4582,188166,Blue Ruin,The quiet life of a beach bum is upended by dr...,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 53, ""name...","[{""id"": 9748, ""name"": ""revenge""}, {""id"": 13017...","[{""cast_id"": 3, ""character"": ""Dwight"", ""credit...","[{""credit_id"": ""536311fc0e0a261e0100128f"", ""de..."
2722,43949,Flipped,"When Juli meets Bryce in the second grade, she...","[{""id"": 10749, ""name"": ""Romance""}, {""id"": 18, ...","[{""id"": 367, ""name"": ""shyness""}, {""id"": 818, ""...","[{""cast_id"": 2, ""character"": ""Julianna \""Juli\...","[{""credit_id"": ""58a9b275925141743a0095f4"", ""de..."

In [146]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [147]:
movies.dropna(inplace=True)

In [148]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4806 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   title     4806 non-null   object
 2   overview  4806 non-null   object
 3   genres    4806 non-null   object
 4   keywords  4806 non-null   object
 5   cast      4806 non-null   object
 6   crew      4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.4+ KB

In [149]:
movies['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4804    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4805    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4806    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4807                                                   []
4808                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4806, dtype: object

In [150]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [151]:
movies['keywords']

0       [{"id": 1463, "name": "culture clash"}, {"id":...
1       [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2       [{"id": 470, "name": "spy"}, {"id": 818, "name...
3       [{"id": 849, "name": "dc comics"}, {"id": 853,...
4       [{"id": 818, "name": "based on novel"}, {"id":...
                              ...
4804    [{"id": 5616, "name": "united states\u2013mexi...
4805                                                   []
4806    [{"id": 248, "name": "date"}, {"id": 699, "nam...
4807                                                   []
4808    [{"id": 1523, "name": "obsession"}, {"id": 224...
Name: keywords, Length: 4806, dtype: object

In [152]:
#converts keywords object into a dictionary
ast.literal_eval(movies['keywords'][0])

[{'id': 1463, 'name': 'culture clash'},
 {'id': 2964, 'name': 'future'},
 {'id': 3386, 'name': 'space war'},
 {'id': 3388, 'name': 'space colony'},
 {'id': 3679, 'name': 'society'},
 {'id': 3801, 'name': 'space travel'},
 {'id': 9685, 'name': 'futuristic'},
 {'id': 9840, 'name': 'romance'},
 {'id': 9882, 'name': 'space'},
 {'id': 9951, 'name': 'alien'},
 {'id': 10148, 'name': 'tribe'},
 {'id': 10158, 'name': 'alien planet'},
 {'id': 10987, 'name': 'cgi'},
 {'id': 11399, 'name': 'marine'},
 {'id': 13065, 'name': 'soldier'},
 {'id': 14643, 'name': 'battle'},
 {'id': 14720, 'name': 'love affair'},
 {'id': 165431, 'name': 'anti war'},
 {'id': 193554, 'name': 'power relations'},
 {'id': 206690, 'name': 'mind and soul'},
 {'id': 209714, 'name': '3d'}]

In [153]:
def convert(string):
    lst = []
    for i in ast.literal_eval(string):
        #print(i)
        #extracts value of 'name' from dataset column
        lst.append(i['name']) 
    return lst

In [154]:
print(convert(movies['keywords'][0]))

['culture clash', 'future', 'space war', 'space colony', 'society', 'space travel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alien planet', 'cgi', 'marine', 'soldier', 'battle', 'love affair', 'anti war', 'power relations', 'mind and soul', '3d']

In [155]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [156]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [157]:
#extract names of actors from cast column
def convert_cast(string):
    lst = []
    counter = 0
    for i in ast.literal_eval(string):
        if counter < 5:
            lst.append(i['name'])
        counter+=1
    return lst

In [158]:
movies['cast'] = movies['cast'].apply(convert_cast)

In [159]:
movies['cast'][5]

['Tobey Maguire',
 'Kirsten Dunst',
 'James Franco',
 'Thomas Haden Church',
 'Topher Grace']

In [160]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [161]:
def convert_crew(string):
    lst = []
    for i in ast.literal_eval(string):
        if i['job'] == 'Director' or i['job']=='Sound Designer':
            lst.append(i['name'])
    return lst

In [162]:
movies['crew'] = movies['crew'].apply(convert_crew)

In [163]:
movies.head(5)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Christopher Boyes, James Cameron]"
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Sam Mendes, Christopher Assells, Ann Scibelli..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[Christopher Nolan, Richard King]"
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[Andrew Stanton, Tim Nielsen]"

In [164]:
#remove spaces between words from data
def remove_space(string):
    lst = []
    for i in string:
        lst.append(i.replace(" ",""))
    return lst

In [165]:
#because the overview is a loing string, change it into a list of words
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [166]:
movies['genres'] = movies['genres'].apply(remove_space)
movies['keywords'] = movies['keywords'].apply(remove_space)
movies['cast'] = movies['cast'].apply(remove_space)
movies['crew'] = movies['crew'].apply(remove_space)

In [167]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[ChristopherBoyes, JamesCameron]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...","[SamMendes, ChristopherAssells, AnnScibelli, P..."

In [168]:
#merge all cols into one
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [169]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[ChristopherBoyes, JamesCameron]","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...","[SamMendes, ChristopherAssells, AnnScibelli, P...","[A, cryptic, message, from, Bond’s, past, send..."

In [170]:
df = movies[['movie_id','title','tags']]
df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [171]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))
df.head()

C:\Users\anton\AppData\Local\Temp\ipykernel_5580\1655392755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x: " ".join(x))

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [172]:
# finding similarity between say two given texts
print(df['tags'][0],'\n','***'*10)
print(df['tags'][1])

In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez ChristopherBoyes JamesCameron
 ******************************
Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems. Adventure Fantasy Action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger JohnnyDepp OrlandoBloom KeiraKnightley StellanSkarsgård ChowYun-fat GoreVerbinski

In [173]:
import nltk
from nltk.stem.porter import PorterStemmer

pos = PorterStemmer()

#example
pos.stem('loved')
#function
def stemm(txt):
    lst = []
    for i in txt.split():
        lst.append(pos.stem(i))
    #conv lst to str
    return " ".join(lst)

df['tags'] = df['tags'].apply(stemm)

C:\Users\anton\AppData\Local\Temp\ipykernel_5580\2796599439.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(stemm)

In [174]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [175]:
# sparse to array
movies_vector_form = cv.fit_transform(df['tags']).toarray()

In [176]:
#(movies,transformation based on 5000 words)
movies_vector_form.shape

(4806, 5000)

In [177]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_matx = cosine_similarity(movies_vector_form)
similarity_matx[0]

array([1.        , 0.07897472, 0.08238526, ..., 0.04529108, 0.        ,
       0.        ])

In [178]:
similarity_matx[1]

array([0.07897472, 1.        , 0.05638839, ..., 0.02324953, 0.        ,
       0.02478408])

In [179]:
df[df['title']=='Avatar']

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [180]:
# recommender function which will return 8 similar movies based on given input movie

def recommender(give_movie):
    mov_indx = df[df['title']==give_movie].index[0] #getting index of given movie
    dist = similarity_matx[mov_indx] #passing movie index to similarity matrix
    top_8_movies = sorted(list(enumerate(dist)),reverse=True,key=lambda x:x[1])[1:9]
    
    for i in top_8_movies:
        print(df.iloc[i[0]].title)#out of tupple we want index i.e 0th index

In [181]:
recommender('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf
Rockaway
Batman v Superman: Dawn of Justice
Defendor